.home {
  width: 1000px;
  &__wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 50px 0;
    background: 
		linear-gradient(rgba($navy, .13), rgba($french-navy, .7)), 
		url('/public/images/main_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__title {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: $white;
    font-size: 50px;
    font-weight: 200;
    text-shadow: 2.5px 2.5px $jungle;
  }
  &__btns {
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
  }
}