.home {
  &__wrapper {
    display: flex;
    align-items: center;
    height: 1000px;
    padding: 20vh 20px;
    background: 
		linear-gradient(rgba($jungle, 0.13), rgba($french-navy, 0.2)), 
		url('/public/images/main_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}