.navbar {
  &__list {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  &__item {
    list-style-type: none;
    font-size: 15px;
    font-weight: 300;
    position: relative;
    .active_page {
      color: $navy;
      &::after{
        background: $navy;
      }
    }
    a {
      text-decoration: none;
      text-transform: uppercase;
      &:after {
        content: "";
        bottom: -1px;
        display: block;
        height: 1px;
        right: 0;
        position: absolute;
        background: $white;
        transition: .5s all;
        width: 0;
      }
      &:hover:after {
          width: 100%;
          right: 0;
      }
    }
  }
}