.point {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: pre-line;
  position: relative;
  &__wrapper {
    @include wrapper;
    padding: 50px 0;
  }
  &__title {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
  }
  &__img {
    margin: 40px 0;
    height: 400px;
    img {
      border-radius: 15px;
      height: 100%;
    }
  }
   &__descr, &__services, &__infrastructure, &__address {
    width: 100%;
  }
  p {
    margin-top: 1rem;
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
  }
  hr {
    color: #ffffff;
  }
}