* {
  font-family: Onest;
  font-weight: 400;
  color: $white;
}

::-webkit-scrollbar {
  width: .6rem;
}
 
::-webkit-scrollbar-track {
  background-color: $french-navy;
}
 
::-webkit-scrollbar-thumb {
  background-color: $lagoon;
  border-radius: 50px;
}

.container {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}
